.home-title {
    font-family: 'Arial Black', Gadget, sans-serif !important; 
    color: #FFE81F !important;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgba(255, 232, 31, 0.7);
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card-img-top {
    display: block !important;
    min-height: 300px !important;
    width: 100% !important;
    background-color: #282828;
    object-fit: cover !important; 
}


.btn-star-wars {
    border: 2px solid #FFE81F !important;
    color: #FFE81F !important;
    background-color: transparent !important;
    font-family: 'Arial Black', sans-serif !important; 
    font-size: 10px !important;
    letter-spacing: 1px;
    padding: 8px 15px !important;
}